{% extends 'base.html' %}
{% load static %}

{% block title %}Advocacia: Nossa equipe{% endblock %}

{% block pagecontent %}
<div class="corpo">

    <div id="equipe_sub01">

        <h1 class="index_titulo" style="padding-top:8%; text-align: center;">Nossa <b style="color: #E13034;">Equipe</b>:</h1>

        <div class="container" align="center">

            <div class="row">

                <div class="col-sm">
                    <div class="perfil">

                    <p align="center" class="footer_contato"><img class="foto_perfil" src="{% static 'images/teste.png' %}"><br><span class="nome_perfil"><b style="color: #E13034;">Dra</b><b> Tania Gyuris</b></span></p>
                        <p align="left" class="footer_contato"><a class="texto_perfil">
                                <img class="icone_perfil" src="{% static './images/icone_whatsapp.png' %}">&nbsp;Whatsapp</a></p>
                        <p align="left" class="footer_contato"><a class="texto_perfil">
                                <img class="icone_perfil" src="{% static './images/icone_facebook.png' %}">&nbsp;Facebook</a></p>
                        <p align="left" class="footer_contato"><a class="texto_perfil">
                                <img class="icone_perfil" src="{% static './images/icone_instagram.png' %}">&nbsp;Instagram</a></p>
                        <p align="left" class="footer_contato"><a class="texto_perfil">
                                <img class="icone_perfil" src="{% static './images/icone_linkedin.png' %}">&nbsp;Linkedin</a></p>
                    </div>
                </div>

            <div class="col-sm">
                <div class="perfil">

                <p align="center" class="footer_contato"><img class="foto_perfil" src="{% static 'images/teste.png' %}"><br><span class="nome_perfil"><b style="color: #E13034;">Dra</b><b> Tania Gyuris</b></span></p>
                <p align="left" class="footer_contato"><a class="texto_perfil">
                        <img class="icone_perfil" src="{% static './images/icone_whatsapp.png' %}">&nbsp;Whatsapp</a></p>
                <p align="left" class="footer_contato"><a class="texto_perfil">
                        <img class="icone_perfil" src="{% static './images/icone_facebook.png' %}">&nbsp;Facebook</a></p>
                <p align="left" class="footer_contato"><a class="texto_perfil">
                        <img class="icone_perfil" src="{% static './images/icone_instagram.png' %}">&nbsp;Instagram</a></p>
                <p align="left" class="footer_contato"><a class="texto_perfil">
                        <img class="icone_perfil" src="{% static './images/icone_linkedin.png' %}">&nbsp;Linkedin</a></p>
            </div>
        </div>

            </div><br>

            <div class="row">

                <div class="col-sm">
                    <div class="perfil">

                    <p align="center" class="footer_contato"><img class="foto_perfil" src="{% static 'images/teste.png' %}"><br><span class="nome_perfil"><b style="color: #E13034;">Dra</b><b> Tania Gyuris</b></span></p>
                    <p align="left" class="footer_contato"><a class="texto_perfil">
                            <img class="icone_perfil" src="{% static './images/icone_whatsapp.png' %}">&nbsp;Whatsapp</a></p>
                    <p align="left" class="footer_contato"><a class="texto_perfil">
                            <img class="icone_perfil" src="{% static './images/icone_facebook.png' %}">&nbsp;Facebook</a></p>
                    <p align="left" class="footer_contato"><a class="texto_perfil">
                            <img class="icone_perfil" src="{% static './images/icone_instagram.png' %}">&nbsp;Instagram</a></p>
                    <p align="left" class="footer_contato"><a class="texto_perfil">
                            <img class="icone_perfil" src="{% static './images/icone_linkedin.png' %}">&nbsp;Linkedin</a></p>
                </div>
            </div>

    <div class="col-sm">
        <div class="perfil">

        <p align="center" class="footer_contato"><img class="foto_perfil" src="{% static 'images/teste.png' %}"><br><span class="nome_perfil"><b style="color: #E13034;">Dra</b><b> Tania Gyuris</b></span></p>
        <p align="left" class="footer_contato"><a class="texto_perfil">
                <img class="icone_perfil" src="{% static './images/icone_whatsapp.png' %}">&nbsp;Whatsapp</a></p>
        <p align="left" class="footer_contato"><a class="texto_perfil">
                <img class="icone_perfil" src="{% static './images/icone_facebook.png' %}">&nbsp;Facebook</a></p>
        <p align="left" class="footer_contato"><a class="texto_perfil">
                <img class="icone_perfil" src="{% static './images/icone_instagram.png' %}">&nbsp;Instagram</a></p>
        <p align="left" class="footer_contato"><a class="texto_perfil">
                <img class="icone_perfil" src="{% static './images/icone_linkedin.png' %}">&nbsp;Linkedin</a></p>
    </div>
</div>

            </div>
        </div>
    </div>
    <br>
    <br>


</div>

{% endblock %}